/* Vamos a definir los colores de la aplicacion */

:root{
  --main-color: #00599f;
  --secundary-color: #23b9f5;
  --cards-primary-color: #5f748e;
  --cards-secundary-color: #8aabb3;
  /* Fuentes  */
  --color-etiquetas: rgba(0,0,0,0.8);
}



html {
  background: linear-gradient(to right, var(--secundary-color),var(--main-color));
}
h3{
  font-size: 2rem;
}

#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 25%;
  z-index: -100;
}

/**************** Componentes ***************/

/* Navbar */

.navbar_grid_Parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: transparent;
}
  
.navbar_sub_grid1 { grid-area: 2 / 1 / 4 / 5; 
  background-color: white;
  border-radius: 4px 4px 0px 0px;
  text-align: center;
  position: relative;
  z-index: -10;
}

.navbar_sub_grid2 {
  grid-area: 1 / 2 / 3 / 4; 
}

.lema{
  position: absolute;
  top: 50%;
  width: 100%;
}
.textLema{
  line-height : 25px;
}

.navbar_list{
  background-color: white;
  border-radius: 0 0 4px 4px;
  height: 50%;
  overflow-y: auto;
}
/* Estilos para los label de materialize y Select2 */
.input-field>label{
  color: var(--color-etiquetas);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder{
  color: var(--color-etiquetas);
}

.input-field .prefix {
  color: var(--color-etiquetas);
}

/* Boton Hamburguesa Sidenav*/
/* #button_open-menu-sidenav{

} */

/* .collapsible-body{
  padding-top: 1rem;
  padding-bottom: 1rem;
}  */

/* Estilo para Boton borrar arma */
.deleteCollapse{
  display: flex;
  justify-content: space-between;
}


/* ****************BOTONES********************* */

/* Boton cancelar Form */
.form-button_cancelar{
  padding-left: 8rem;
  display: flex;
  position: absolute;
  bottom: 5vh;
  max-width: fit-content;
}

.form-button_cancelar>div{
  text-align: center;
}
#index-button_cancel{
  padding-left: 2rem;  
  padding-right: 2rem;
}

/* Boton siguiente para cada tab */
.container-button_siguiente{
  display: flex;
  justify-content: end;
}

.button_siguiente{
  position: fixed;
  bottom: 4rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
}


/* Container_content-global (Viene desde la plantilla) */
.container_content-global{
  margin-top: 2.5rem;
}

/* Card generado en el componente container */
.card-contenido{
  min-height: 69vh;

}

/* Titulo Card de cada Container*/
.card-title.card-title_mod{
  margin-top:-3rem;
  background:linear-gradient(60deg,var(--cards-primary-color),var(--cards-secundary-color));
  font-weight: 300;
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 2.5px;
}

/* Ocultar los encabezados de los tabs */
.tabs.main{
  display: none;
}


.btn-verificar{
  padding: 10px 0 10px 0  ;
  max-height: 16px;
  max-width: 6rem ;
  position: relative;
  left: 93%;
  bottom: 3.8rem;
}
.btn-verificar>i{
  position: relative;
  top: -18px;
}
.btn-verificar-sindicado{
  padding: 10px 0 10px 0  ;
  max-height: 16px;
  max-width: 6rem ;
  position: relative;
  left: 93%;
  bottom: 3.8rem;
}
.btn-verificar-sindicado>i{
  position: relative;
  top: -18px;
}


/* Tab de Agregar Arma */
.tabs.main_arma{
  background-color: transparent;
  /* border-bottom: 1px solid #5f748e;    */
}

.tabs .tab{
  text-transform: none;
}

.tabs.main_arma .indicator {
  display: none;
  /* background-color:#000 ; */
  /* border: 1px solid black; */

}


/* Aqui vamos a agregar o quitar esta clase */
.tabs .tab.active-tab{
  border-left: 1px  solid #5f748e;
  border-right: 1px  solid #5f748e;
  border-top: 1px  solid #5f748e;
  /* border-bottom: 1px solid #5f748e; */
  
}
.tabs .tab.deactive-tab{
  border-bottom: 1px solid #5f748e;
}

#divtab_arma_plus{
  border-bottom: 1px solid transparent;
  padding-bottom: 2rem;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(178, 205, 246, 0.2);
  outline: none;
}
#form_login{
position: absolute;
top: 25vh;
}

/* ******************Modulo Consultas****************************************** */

.opos{
  overflow: auto;
}


/* table caption {
  font-size: 10.3em;
} */
/* 
table thead {
  position: absolute;
}

table th {
  display: block;
}

table td {
  display: block;
}

table td {
  text-align: right;
} */

/* table td:last-child {
  border-bottom: 0;
}
table th:last-child {
  border-bottom: 0;
} */

.divs-datos-resultado>div{
  margin: 10px;
}



/* ***********Media Querys************** */
/* Se aplica cuando la resolucion es menor a 992px */
 @media only screen and (max-width : 992px) {
  main {
    padding-left: 0px;
  }

  .sidenav{
    margin-left: 0rem;
    margin-top: 2.5rem;
    max-width: 40%;
    background-color: transparent;
  }
  

}
/* Se aplica entre el rango de 546 a 992  */
 @media only screen and (min-width:546px) and (max-width : 992px) {
  /* main {
    padding-left: 0px;
  }

  .sidenav{
    margin-left: 0rem;
    margin-top: 2.5rem;
    max-width: 40%;
    background-color: transparent;
  } */
  #form_login{
    position: absolute;
    left: 20vw;
    right: 20vw;
  }
  

}

/* Se aplica cuando la resolucion es mayor a 992px */
@media only screen and (min-width: 992px){
  #button_open-menu-sidenav{
    display: none;

  }
  .sidenav{
    margin-left: 2rem;
    margin-top: 2.5rem;
    max-width: 20%;
    background-color: transparent;
  }
  .container_content-global{
    margin-top: 5rem;
  }

  #form_login{
    position: absolute;
    left:35vw;
    right: 35vw;
  }
}

@media only screen and (min-width: 1500px){
  #form_login{
    position: absolute;
    left:40vw;
    right: 40vw;
  }
}
